html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #93b2be;
}

.block
{
    color: white;
    background-color: black;
    align-content: center;
    padding: 5%;
}

.block-1
{
    padding-top: 60px;
    background-color: #004780;
    border-radius: 10px;
}
#propaganda{
    padding-top: 100px;
    margin-top: 20px;
}

.block-2
{
    background-color: #e9e2e0;
}

.block-3
{
    background-color: #001f68;
}
