html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #93b2be;
}

.block
{
    color: white;
    background-color: black;
    align-content: center;
    padding: 5%;
}

.block-1
{   
    margin-top: 20px;
    padding-top: 60px;
    background-color: #004780;
    border-radius: 10px;
}
#propaganda{
    padding-top: 100px;
    margin-top: 20px;
}

.block-2
{   
    margin-top: 15px;
    padding-top: 10px;
    background-color:white;
    border-radius: 10px;
}

.block-3
{
    background-color: #001f68;
}
.botao{
    background-color: #004780;
    border-color: #20dad8;
    color:#20dad8;
    border-width: 1.5px;
}
.headtables{
    color:#001f68;
}
.nomeclinica{
    color:#20dad8;
}
